@media screen and (max-width:1000px){
    .red{
        font-size: 25px;
    }
    .primero .directores .director .img-director, .segundo .actores .actor .img-actor{
        height: 50px;
        width: 50px;
    }
}
@media screen and (max-width:1200px){
    .enviar-icon{
        font-size: 30px;
    }
}
@media screen and (max-width:800px){
    .primero,.segundo{
        justify-content: center;
        align-items: center;
    }
    .primero .directores .director, .segundo .actores .actor {
        display: flex;
        flex-direction: row;
        width:100%;
        margin:0;
        padding:0;
    }
    .red-fb,.red-insta{
        display: flex;
    }
    .vidx{
        margin-bottom: 20px;
    }
    .chatbox{
        width: 100%;
        margin:20px;
    }
    .viendo{
        left:40%;
    }
    .titulo h1{
        font-size: 2rem;
    }
    .icon{
        display: initial;
        box-sizing: border-box;
        font-size: 30px;
        padding: 0;
        margin-right: 10%;
        text-align: right;
        width: 100%;     
    }
    .icon:active{
        color:black;
    }
    header img{
        height: 100px;
        margin-top:60px;
        margin-right: 30px;
    }
    .titulo h2{
        display: none;
    }
    .vidx{
        width: 96%;
    }
}
@media screen and (max-width:575px){
    .logo h1{
        font-size: 20px;
    }
    header img{
        height: 90px;
        margin-top:50px;
        margin-right: 20px;

    }
    .viendo{
        top:45px;
    }
    .info-head{
        justify-content: center;
    }
}
@media screen and (max-width:415px){
    .logo div{
        display: none;
    }
    .viendo{
        left: 35%;
    }
    header img{
        height: 40px;
        margin:10px;
        margin-right: 30px;
    }
}
@media screen and (max-width:340px){
    .viendo{
        left:30%;
        display:table;

    }
}