*{
    margin: 0;
    padding:0;
    color:#fff;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.icon{
    display: none;
}
header{
    margin:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #686868;
    width: 90%;
    max-width: 1280px;
    height: 55px;
}
header img{
    margin-top:70px;
    margin-left: 20px;
    height: 120px;
    margin-right: 10px;
}
.logo{
    display: flex;
    align-items:center;
}

.redes-sociales{
    box-sizing: border-box;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 10%;
    overflow: hidden;
    margin-right: 20px;
}
.red{
    display: block;
    width: 50%;
    text-align: center;
    font-size: 40px;
}
.red-fb:hover{
    font-size: 45px;
}
.red-insta:hover{
    font-size: 45px;
}
.contenedor{
    width: 90%;
}
.contenedor2{
    width: 100% ;
}
.contenedor,.contenedor2{
    max-width: 1280px;
    margin:auto;
    padding:0px;
    display: flex;
    background-color: #292827;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}
.titulo {
    display: flex;
    flex-direction: row;
    margin:5px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
}
.titulo h1, .titulo h2{
    display: block;
    margin:0 10px;
    margin-top: 40px;
}
.vidx{
    width:72%;
    margin:0;
    padding: 0;
    display: flex;
    z-index: 1;
}
video#mse{
    margin:0;
    padding: 0;
    width:100%;
}
.chatbox{
    display: flex;
    width: 26%;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 455.283px;
    max-height: 455.283px;
}
.chat-message{
    display: table;
    margin: 0px;
    padding: 5px 8px;
    border-radius: 4px;
}
.friend .chat-message{
    background-color:#222;
}
.self .chat-message{
    background-color: #333;
    order:-1;
}

.chatbox .chatlogs{
    min-height: 400px;
    height: 95%;
    background-color:#263238;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    margin:5px 0;
    padding:10px;
    overflow-x: hidden;
    overflow-y:scroll;
}
.chatbox .chatlogs::-webkit-scrollbar{
    width:6px;
}
.chatbox .chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}
.chat-form{
    display: flex;
    flex-direction: row;
}
.chat .user img{
    width: 100%;
}
.user{
    width: 35px;
    height: 35px;
    display: flex;
    background-color: #075e54;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: bold;
    padding: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items :center;
    overflow: hidden;
}
div#usuario:hover,.user:hover{
    cursor:default;
}
.iniciales{
    margin: 0;
    padding: 0;
    text-align: center;
}
.texto{
    padding-top: 5px;
    border-radius: 10px;
    height: 40px;
    width: 70%;
    margin-right: 10px;
    color: #191B19;
    padding-left: 5px;
    padding-right: 5px;
    resize: none;
    width: 100%;
}
.texto::-webkit-scrollbar{
    width:6px;
}
.texto::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}
.texto:hover{
    border: #1F618D 2px solid;
}
.texto:focus{
    border-radius: 3px;
    border: #1F618D 2px solid;
    box-shadow: 4px 4px 5px #1F618D;
}
.enviar-icon{
    font-size: 30px;
    color: gray;
}
.enviar-icon:hover{
    cursor: pointer;
    color: #1F618D;
}
.enviar-icon:active{
    color: lightseagreen;
    font-size: 2rem;
}
.extra{
    padding:80px 60px;
}
.footer{
    background-color: #161616 ;
    height: 50px;
    border-top: 1px solid gray;
    text-align: center;
    margin-bottom:40px;
    margin-top: 40px;
}
.viendo{
    background-color: rgba(255, 255, 255, 0.1);
    width: 30px;
    font-size: 15px;
    padding:10px;
    margin: auto;
    padding-right: 10px;
    z-index:2;
    width: 80px;
    border-radius: 5px;
    position: relative;
    top: 55px;
    left:19%;
    overflow: hidden;
}
.viendo i{
    margin-right: 2px;
}
.wsp{
    font-size: 18px;
    margin-right: 5px;
}
.chat{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 4px;
    margin-left: 2px;
    align-items :center;
    overflow: hidden;    
}
.chat-message:hover{
    cursor: default;
}
.transparente{
    background-color: rgba(255, 255, 255, 0);
    border: 1px #000;
    padding:5px 5px;

}
.transparente:active{
    border: 1px #000;
    box-shadow: 0px;
    border-radius: 50%;
}